Architecture: iphoneos-arm
Package: com.pain.crack-it
Name: Crack It
Version: 2.2.4
Depiction: https://repo.aiyunke.club/depiction/Web/index.html?page=crack-it
SileoDepiction: https://repo.aiyunke.club/depiction/Page/Sileo/com.pain.crack-it.json
ModernDepiction: https://repo.aiyunke.club/depiction/Page/Sileo/com.pain.crack-it.json
Icon: https://repo.aiyunke.club/Assets/Image/Default_Icon.png
Description: lenglengyu的Crack It插件破解
Homepage: https://repo.aiyunke.club/
Section: Tweaks
Depends: firmware (>=11)
Author: lenglengyu 
Maintainer: Pain <342335257@qq.com>
