Architecture: iphoneos-arm
Package: com.pain.pubgmodp
Name: Pubg Modp
Version: 2.0
Depiction: https://repo.aiyunke.club/depiction/Web/index.html?page=pubgmodp
SileoDepiction: https://repo.aiyunke.club/depiction/Page/Sileo/com.pain.pubgmodp.json
ModernDepiction: https://repo.aiyunke.club/depiction/Page/Sileo/com.pain.pubgmodp.json
Icon: https://repo.aiyunke.club/Assets/Image/Default_Icon.png
Description: Pubg国际服 自瞄无后速降
Homepage: https://repo.aiyunke.club/
Section: Game
Depends: firmware (>=11)
Author: ZuwL  
Maintainer: Pain <342335257@qq.com>
