Architecture: iphoneos-arm
Package: com.pain.supervip
Name: Super VIP
Version: 1.7.2
Depiction: https://repo.aiyunke.club/depiction/Web/index.html?page=supervip
SileoDepiction: https://repo.aiyunke.club/depiction/Page/Sileo/com.pain.supervip.json
ModernDepiction: https://repo.aiyunke.club/depiction/Page/Sileo/com.pain.supervip.json
Icon: https://repo.aiyunke.club/Assets/Image/Default_Icon.png
Description: lenglengyu的Super VIP插件破解
Homepage: https://repo.aiyunke.club/
Section: Tweaks
Depends: firmware (>=11)
Author: lenglengyu 
Maintainer: Pain <342335257@qq.com>
