Architecture: iphoneos-arm
Package: com.pain.ioshelper12
Name: iOS Helper 12
Version: 2.0
Depiction: https://repo.aiyunke.club/depiction/Web/index.html?page=ioshelper12
SileoDepiction: https://repo.aiyunke.club/depiction/Page/Sileo/com.pain.ioshelper12.json
ModernDepiction: https://repo.aiyunke.club/depiction/Page/Sileo/com.pain.ioshelper12.json
Icon: https://repo.aiyunke.club/Assets/Image/Default_Icon.png
Description: 国内小姐姐ios12军刀
Homepage: https://repo.aiyunke.club/
Section: Tweaks
Depends: firmware (>=12)
Author: iBreak 
Maintainer: Pain <342335257@qq.com>
