Architecture: iphoneos-arm
Package: com.pain.homegesture
Name: HomeGesture
Version: 2.0.2
Depiction: https://repo.aiyunke.club/depiction/Web/index.html?page=homegesture
SileoDepiction: https://repo.aiyunke.club/depiction/Page/Sileo/com.pain.homegesture.json
ModernDepiction: https://repo.aiyunke.club/depiction/Page/Sileo/com.pain.homegesture.json
Icon: https://repo.aiyunke.club/Assets/Image/Default_Icon.png
Description: HomeGesture修复微信语音bug,相机退出BUG，带设置开关，修复iOS12控制中心奔溃,X状态栏
Homepage: https://repo.aiyunke.club/
Section: System
Depends: firmware (>=11)
Author: zlxdike 
Maintainer: Pain <342335257@qq.com>

