Architecture: iphoneos-arm
Package: com.pain.mobahack
Name: Arena Of Valor KP
Version: 1.0
Depiction: https://repo.aiyunke.club/depiction/Web/index.html?page=mobahack
SileoDepiction: https://repo.aiyunke.club/depiction/Page/Sileo/com.pain.mobahack.json
ModernDepiction: https://repo.aiyunke.club/depiction/Page/Sileo/com.pain.mobahack.json
Icon: https://repo.aiyunke.club/Assets/Image/Default_Icon.png
Description: 王者荣耀视距
Homepage: https://repo.aiyunke.club/
Section: Game
Depends: firmware (>=11)
Author: Network
Maintainer: Pain <2398453359@qq.com>
