Architecture: iphoneos-arm
Package: com.pain.mobahack1
Name: 王者荣耀 鲲鹏+五竹
Version: 1.0
Depiction: https://repo.aiyunke.club/depiction/Web/index.html?page=mobahack
SileoDepiction: https://repo.aiyunke.club/depiction/Page/Sileo/com.pain.mobahack1.json
ModernDepiction: https://repo.aiyunke.club/depiction/Page/Sileo/com.pain.mobahack1.json
Icon: https://repo.aiyunke.club/Assets/Image/Default_Icon.png
Description: 据说是五竹破解.由于五竹视距开始时间太长.建议用鲲鹏开视距.五竹透视.资源来源网络.使用本资源所造成的后果一切自负!
Homepage: https://repo.aiyunke.club/
Section: Game
Depends: firmware (>=11)
Author: Network
Maintainer: Pain <2398453359@qq.com>
