Architecture: iphoneos-arm
Package: com.pain.pubgtk
Name: Pubg TK
Version: 2.0
Depiction: https://repo.aiyunke.club/depiction/Web/index.html?page=pubgtk
SileoDepiction: https://repo.aiyunke.club/depiction/Page/Sileo/com.pain.pubgtk.json
ModernDepiction: https://repo.aiyunke.club/depiction/Page/Sileo/com.pain.pubgtk.json
Icon: https://repo.aiyunke.club/Assets/Image/Default_Icon.png
Description: Pubg辅助 滑块黑天透视
Homepage: https://repo.aiyunke.club/
Section: Game
Depends: firmware (>=11)
Author: TK
Maintainer: Pain <342335257@qq.com>
