Architecture: iphoneos-arm
Package: com.pain.videohelper
Name: Video Helper
Version: 3.0
Depiction: https://repo.aiyunke.club/depiction/Web/index.html?page=videohelper
SileoDepiction: https://repo.aiyunke.club/depiction/Page/Sileo/com.pain.videohelper.json
ModernDepiction: https://repo.aiyunke.club/depiction/Page/Sileo/com.pain.videohelper.json
Icon: https://repo.aiyunke.club/Assets/Image/Default_Icon.png
Description: 主流视频网站去广告去水印
Homepage: https://repo.aiyunke.club/
Section: Tweaks
Depends: firmware (>=11)
Author: iBreak 
Maintainer: Pain <342335257@qq.com>
