Architecture: iphoneos-arm
Package: com.pain.sylph
Name: Sylph
Version: 1.3~Beta1
Depiction: https://repo.aiyunke.club/depiction/Web/index.html?page=sylph
SileoDepiction: https://repo.aiyunke.club/depiction/Page/Sileo/com.pain.sylph.json
ModernDepiction: https://repo.aiyunke.club/depiction/Page/Sileo/com.pain.sylph.json
Icon: https://repo.aiyunke.club/Assets/Image/Default_Icon.png
Description: 锁屏音乐调整 
Homepage: https://repo.aiyunke.club/
Section: Tweaks
Depends: firmware (>=11), ch.mdaus.utils (>= 0.0.4)
Author: Max Dausch  
Maintainer: Pain <342335257@qq.com>
